#navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
  background-color:white;
  border-bottom:1px solid #ccc;
}

#list-item{
  display:flex;
  gap:20px;
  list-style:none;
}

#list-item a{
  text-decoration:none;
  color:black;
}
h2{
color: #d60202;
}